@import "tailwindcss";
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  background: transparent;
  color: inherit;
  overflow-x: hidden;
}



/* Hide scrollbar utility for horizontal overflow containers */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
